.DS_Store
*.class
hu.bme.mit.mdsd.dns2016.drones.behaviour.edit/
hu.bme.mit.mdsd.dns2016.drones.behaviour.editor/
hu.bme.mit.mdsd.dns2016.drones.behaviour.tests/
hu.bme.mit.mdsd.dns2016.drones.edit/
hu.bme.mit.mdsd.dns2016.drones.editor/
hu.bme.mit.mdsd.dns2016.drones.tests/
hu.bme.mit.mdsd.dns2016.drones.queries/bin/
hu.bme.mit.mdsd.dns2016.drones.queries/src-gen/
hu.bme.mit.mdsd.dns2016.drones.behaviour.queries/bin/
hu.bme.mit.mdsd.dns2016.drones.behaviour.queries/src-gen/
hu.bme.mit.mdsd.dns2016.drones.text/bin/
hu.bme.mit.mdsd.dns2016.drones.text/src-gen/
hu.bme.mit.mdsd.dns2016.drones.text/xtend-gen/
hu.bme.mit.mdsd.dns2016.drones.text.ide/bin/
hu.bme.mit.mdsd.dns2016.drones.text.ide/src-gen/
hu.bme.mit.mdsd.dns2016.drones.text.ide/xtend-gen/
hu.bme.mit.mdsd.dns2016.drones.text.ui/bin/
hu.bme.mit.mdsd.dns2016.drones.text.ui/src/
hu.bme.mit.mdsd.dns2016.drones.text.ui/src-gen/
hu.bme.mit.mdsd.dns2016.drones.text.ui/xtend-gen/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text/bin/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text/src-gen/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text/xtend-gen/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text.ide/bin/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text.ide/src-gen/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text.ide/xtend-gen/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text.ui/bin/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text.ui/src/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text.ui/src-gen/
hu.bme.mit.mdsd.dns2016.drones.behaviour.text.ui/xtend-gen/
hu.bme.mit.mdsd.dns2016.drones.design/src/
hu.bme.mit.mdsd.dns2016.drones.simulation/xtend-gen/
