<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.mdsd.dns2016.drones.queries.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.mdsd.dns2016.drones.queries.Queries" id="hu.bme.mit.mdsd.dns2016.drones.queries.Queries"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.mdsd.dns2016.drones.queries.charge" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Battery" feature-name="charge" package-nsUri="hu.bme.mit.mdsd.dns2016.drones"/>
  </extension>
</plugin>
