<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated drones -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hu.bme.mit.mdsd.dns2016.drones.presentation.DronesModelWizardID"
            name="%_UI_DronesModelWizard_label"
            class="hu.bme.mit.mdsd.dns2016.drones.presentation.DronesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DronesModelFile.gif">
         <description>%_UI_DronesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated drones -->
      <editor
            id="hu.bme.mit.mdsd.dns2016.drones.presentation.DronesEditorID"
            name="%_UI_DronesEditor_label"
            icon="icons/full/obj16/DronesModelFile.gif"
            extensions="drones"
            class="hu.bme.mit.mdsd.dns2016.drones.presentation.DronesEditor"
            contributorClass="hu.bme.mit.mdsd.dns2016.drones.presentation.DronesActionBarContributor">
      </editor>
   </extension>

</plugin>
